<style>
body {
    height: 100%;
}

div {
    /* border: 1px dotted; */
    /* height: 100%; */
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <script type = "text/javascript"  
    src = "https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">  
    </script>
    <script src="../js/tone.js"></script>
    <script src="../js/canvasjs.min.js"></script>

    <script src="../js/transport.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chord Finder</title>
</head>
<body class="blue-grey darken-3">
    <div>
        <nav class="brown darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><i class="material-icons" style="margin-left: 20px; font-size: 40px">home</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                </ul>
            </div>
        </nav>
        <div class="row" id="keyboard" style="display: none">
            
            <div class="row">
                <div class="column piano" id="C3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="D3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="E3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="F3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="G3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="A3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="B3" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="C4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="D4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="E4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="F4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="G4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="A4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="B4" style="background-color:#ccc;">
                </div>
                <div class="column piano" id="C5" style="background-color:#ccc;">                 
                </div>
            </div>

        </div>

        <div class="site-container">
            <div class="row " style="height: 60%; ">
                <div class="col m9" style="text-align: center;">
                    <div class="row half-height input-container">
                        <div class="card-container flex-column">
                            <div class="z-depth-3 full-width flex-row input-card blue lighten-2" style="border-bottom: 1px solid;">
                                <div class="input-card-item input-device-container flex-column" style="align-items: stretch;">
                                    <ul id = "dropdown" class = "dropdown-content">
                                        <li><a id="kalank.mp3" onclick="loadTrack(this)">Kalank (Title Track)</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="broken.mp3" onclick="loadTrack(this)">Lindsey Lomis - Meant to Be Broken</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="harryFalling.mp3" onclick="loadTrack(this)">Harry Styles - Falling</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="easy.mp3" onclick="loadTrack(this)">Mac Ayres - Easy</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="thatsus.mp3" onclick="loadTrack(this)">Anson Seabra - That's Us</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="perfect.mp3" onclick="loadTrack(this)">Ed Sheeran - Perfect</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="allofme.mp3" onclick="loadTrack(this)">John Legend - All Of Me</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="adele.mp3" onclick="loadTrack(this)">Adele - Someone Like You</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="apocalypse.mp3" onclick="loadTrack(this)">Cigarettes after Sex - Apocalypse</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="stayFull.mp3" onclick="loadTrack(this)">Rihanna - Stay</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="realFriends.mp3" onclick="loadTrack(this)">Camila Cabello - Real Friends</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="kodaline.m4a" onclick="loadTrack(this)">Kodaline - All I Want</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="gravity.mp3" onclick="loadTrack(this)">John Mayer - Gravity</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="yours.mp3" onclick="loadTrack(this)">Jason Mraz - I'm Yours</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="noWay.m4a" onclick="loadTrack(this)">Fifth Harmony - No Way</a></li>
                                        <li class = "divider"></li>
                                        <li><a id="stay.m4a" onclick="loadTrack(this)">Sam Smith - Stay With Me</a></li>
                                     </ul>
                                    <button id='fileIcon' class="z-depth-3 input-device-icon waves-effect btn" onclick="changeInput('file');getURLofLocalFile()">
                                        <i class="material-icons file-icon" style="font-size: 100px;">library_music</i>
                                    </button>
                                    <input type='file' id='fileopen' style="display: none;">
                                    <button class="flex-row load-file waves-effect dropdown-button waves-light btn-flat blue-grey lighten-2 white-text"  data-activates="dropdown">
                                        <div class="margin-1">LOAD FILE</div>
                                        <i class = "material-icons">arrow_drop_down</i>
                                    </button>
                                    
                                </div>
                                
                                
                                <div class="input-card-item file-details flex-column">
                                    <div class="full-width file-details-item song-title valign-wrapper flex-container" style="height: 49%; font-size: 30px;">
                                        <div id="loadedTrack">Artist Name - Song Title</div>    
                                    </div>
                                    <div class="divider" style="width: 100%;"></div>
                                    <div class="half-height full-width file-details-item song-actions flex-row">
                                        <div class="song-actions-icons">
                                            <button class="waves-effect btn teal song-actions-button" onclick="toggleSongPlayer()">
                                                <i id="songPlayerPlayPauseIcon" class="material-icons">play_arrow</i>
                                            </button>
                                            <!-- <button class="waves-effect btn teal song-actions-button" onclick="toggleSongPlayer()">
                                                <i class="material-icons">pause</i>
                                            </button> -->
                                            <button class="waves-effect btn teal song-actions-button" onclick="stopSongPlayer()">
                                                <i class="material-icons">stop</i>
                                            </button>
                                        </div>
                                        <div class="song-actions-seek flex-row">
                                            <div id="seek">0:00</div>
                                            <div class="range-field margin-1" style="width: 90%;">
                                                <input id="seekBar" type="range" min="0" max="0"  oninput="seekTime(this.value)">
                                            </div>
                                            <div id="seekEnd">-:--</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="z-depth-3 input-filters brown lighten-2 flex-row">
                                <!-- <div class="filters-label margin-5" style="width: 5%;">FILTERS:</div> -->
                                <div class="filter-sliders flex-row full-height" style="width: 90%;">
                                    <div class="margin-1 flex-row full-height" style="width: 50%;">
                                        <div class="margin-5">FREQUENCIES: </div> 
                                        <div class="range-field" style="width: 90%;"> 
                                            <input class="margin-1" type="range" min=0 max=10000 value=0     oninput="highFilterTrack(this.value)">
                                            <input class="margin-1" type="range" min=0 max=10000 value=10000 oninput="lowFilterTrack(this.value)" >
                                        </div>
                                    </div>
                                    <div class="margin-1 flex-row full-height" style="width: 20%;">
                                        <div class="margin-5">GAIN: </div> <div class="range-field" style="width: 90%;"> <input class="margin-1" type="range" min=0 max=6 value=1 step=0.001 oninput="trackGain(this.value)"></div>
                                    </div>
                                    <div class="margin-1 flex-row full-height" style="width: 20%;">
                                        <div class="margin-5">VOLUME: </div> <div class="range-field" style="width: 90%;"> <input class="margin-1" type="range" min=0 max=6 value=1 step=0.001 oninput="outputGain(this.value)"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <button id='btn-save'>REST MODE</button>
                    <button id='btn-save-model'>SAVE MODEL</button>
                    <input type="file" id="file-selector" multiple> -->
                    
                    <div class="row half-height input-container" style="width: 50%;">
                        <div class="card-container flex-column">
                            <div class="z-depth-3 full-width flex-row input-card red lighten-2" style="border-bottom: 1px solid;">
                                <div class="input-card-item input-device-container flex-column" style="align-items: stretch;width: 25%;margin-left: 2.5%;">
                                    <button id='micIcon' class="z-depth-3 input-device-icon waves-effect btn grey" style="border-radius: 10px; height: 90%;" onclick="changeInput('mic');">
                                        <i class="material-icons file-icon" style="font-size: 100px;">mic</i>
                                    </button>
                                    
                                </div>
                                
                                
                                <div class="input-card-item file-details flex-column">
                                    <div class="full-width file-details-item song-title valign-wrapper flex-container" style="height: 49%; font-size: 30px;">
                                        <div id="loadedTrack">Mic Input</div>    
                                    </div>
                                    <div class="divider" style="width: 100%;"></div>
                                    <div class="half-height full-width file-details-item song-actions flex-row">
                                        <div class="song-actions-icons">
                                            <button id='micMuteBtn' class="waves-effect btn teal song-actions-button" onclick="toggleMicMute()">
                                                <i id='micMute' class="material-icons">volume_up</i>
                                            </button>
                                            <!-- <button id='muteMic' class="waves-effect btn teal song-actions-button" disabled onclick="toggleMicMute(false)">
                                                <i class="material-icons">volume_off</i>
                                            </button> -->
                                            <button class="waves-effect btn teal song-actions-button" >
                                                <i class="material-icons" style="font-size: 200%;">fiber_manual_record</i>
                                            </button>
                                        </div>
                                        <!-- <div class="song-actions-seek flex-row">
                                            <div id="seek">0:00</div>
                                            <div class="range-field margin-1" style="width: 90%;">
                                                <input id="seekBar" type="range" min="0" max="0"  oninput="seekTime(this.value)">
                                            </div>
                                            <div id="seekEnd">0:00</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="z-depth-3 input-filters brown lighten-2 flex-row">
                                <!-- <div class="filters-label margin-5" style="width: 5%;">FILTERS:</div> -->
                                <div class="filter-sliders flex-row full-height" style="width: 90%;">
                                    <div class="margin-1 flex-row full-height" style="width: 60%;">
                                        <div class="margin-5">FREQUENCIES: </div> 
                                        <div class="range-field" style="width: 90%;"> 
                                            <input class="margin-1" type="range" min=0 max=10000 value=0 oninput="highFilterTrack(this.value)">
                                            <input class="margin-1" type="range" min=0 max=10000 value=10000 oninput="lowFilterTrack(this.value)">
                                        </div>
                                    </div>
                                    <div class="margin-1 flex-row full-height" style="width: 30%;">
                                        <div class="margin-5">GAIN: </div> <div class="range-field" style="width: 90%;"> <input class="margin-1" type="range" min=0 max=6 value=1 step=0.001 oninput="trackGainMic(this.value)"></div>
                                    </div>
                                    <!-- <div class="margin-1 flex-row full-height" style="width: 20%;">
                                        <div class="margin-5">VOLUME: </div> <div class="range-field" style="width: 90%;"> <input class="margin-1" type="range"></div>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                        <!-- <label id='pass-indicator' style='background-color: red'>PASSED</label> -->
                    </div>
                </div>
                <div class="col m3 amber darken-2">
                    <div class="row blue-grey flex-container" style="height: 10%;">
                        <div style="font-size: 20px;">DETECTED CHORD:</div>
                    </div>
                    <div class="row flex-container" style="height: 75%;">
                        <div style="font-size: 120px;" id="detectedChord">A#maj7</div>
                    </div>
                    <div class="row blue-grey flex-row" style="height: 15%;">
                        <div class="margin-1" style="font-size: 30px;">MOST LIKELY KEYS:</div>
                        <div class="margin-5" style="font-size: 30px;" id="mostLikelyKeys">F#, A#</div>
                    </div>
                </div>
            </div>
            <div id="display0"></div>
            <div id="display1"></div>
            <div id="display2"></div>
            <div id="display3"></div>
            <div id="display4"></div>
            <div class="row flex-container full-width" style="height: 40%;">
                <div class=" z-depth-4 margin-1 brown" id="chartContainer" style="height: 92%;width: 100%"></div>
            </div>
        </div>
        
    </div>
    <link type="text/css" rel="stylesheet" href="../css/style.css"  media="screen,projection"/>
    

    

    <div class="row" style="padding-top: 30px; display: none;" id="audioWrapper">
        <!-- <div class="row"><input type="checkbox"  oninput="toggleOutput(this.checked)"></div> -->
        
        <!-- <div class="row">
            <select id="trackName">
                <option value="laufey.mp3">Laufey</option>
                <option value="overjoyed.mp3">Nishant - Overjoyed (Guitar)</option>
                <option value="harryFalling.mp3">Harry Styles - Falling</option>
                <option value="thatsus.mp3">Anson Seabra - That's Us</option>
                <option value="wonderful.m4a">Dhruva Panyam - Wonderful World</option>
                <option value="perfect.mp3">Ed Sheeran - Perfect</option>
                <option value="allofme.mp3">John Legend - All Of Me</option>
                <option value="adele.mp3">Adele - Someone Like You</option>
                <option value="apocalypse.mp3">Cigarettes after Sex - Apocalypse</option>
                <option value="stayFull.mp3">Rihanna - Stay</option>
                <option value="stay.mp3">Rihanna - Stay (Kar)</option>
                <option value="realFriends.mp3">Camila Cabello - Real Friends</option>
                <option value="kodaline.m4a">Kodaline - All I Want</option>
                <option value="gravity.mp3">John Mayer - Gravity</option>
                <option value="yours.mp3">Jason Mraz - I'm Yours</option>
                <option value="noWay.m4a">Fifth Harmony - No Way</option>
                <option value="perfect.mp3">Ed Sheeran - Perfect</option>
                <option value="allofme.mp3">John Legend - All Of Me</option>
                <option value="dpan.mp3">When I Was Your Man</option>
                <option value="stars.mp3">Stars</option>
                <option value="run.mp3">Run</option>
                <option value="adele.mp3">Adele - Someone Like You</option>
                <option value="apocalypse.mp3">Cigarettes after Sex - Apocalypse</option>
                <option value="stayFull.mp3">Rihanna - Stay</option>
                <option value="stay.mp3">Rihanna - Stay (Kar)</option>
                <option value="harryFalling.mp3">Harry Styles - Falling</option>
                <option value="falling.mp3">Falling</option>
                <option value="emajor.mp3">E Major</option>
                <option value="stay.m4a">Sam Smith - Stay With Me</option>
                <option value="realFriends.mp3">Camila Cabello - Real Friends</option>
                <option value="kodaline.m4a">Kodaline - All I Want</option>
                <option value="voiceNoteC4.wav">Me singing C4</option>
                
            </select>
            <input type="button" value="Load" onclick="loadTrack()">
            <input id="enterName">
            <input type="button" value="Search" onclick="loadTrack(1)">
        </div> -->


        <div class="row">
            <div style="display:inline-block; margin: 1rem;">
                <audio id="recordedAudio" controls></audio>
            </div>
                
                <div style="display: inline-block ; width: 100%;">
                    <div style="width: 10%; display: inline-block;">
                    <p><b>VOLUME: </b>
                        <span style="float: right;" id='volume'>1.0 dB</span>
                        </div>
                        &nbsp;&nbsp;
                        <input style="width: 10%;" type="range" min=0 max=6 value=1 step=0.001 oninput="outputGain(this.value)">
                        <!-- <span id='seekEnd'>-:-- </span> -->
                    </p>
                </div>
                <div style="display: inline-block ; width: 100%;">
                    <p style="font-size: 50px;" id="loadedTrack"></p>
                </div>
                <div style="display: inline-block ; width: 100%;">
                    <div style="width: 10%; display: inline-block;">
                    <p><b> SEEK: </b>
                        <span style="float: right;" id='seek'>0:00 </span>
                        </div>
                        &nbsp;&nbsp;
                        <input id="seekBar" style="width: 70%; " type="range" min=0 max=120 value=0 oninput="seekTime(this.value)">
                        <span id='seekEnd'>-:-- </span>
                    </p>
                </div>
        </div>
        <div class="row"  style="padding-top: 30px;"><h1>Audio Effects</h1></div>   
        <div class="row">
                <div style="display: inline-block ; width: 100%;">
                    <div style="width: 10%; display: inline-block;">
                    <p><b> FILTER UP: </b>
                        <span style="float: right;" id='lowpass'>0 Hz</span>
                    </div>
                        &nbsp;&nbsp;
                        <input style="width: 70%; " type="range" min=0 max=10000 value=0 oninput="highFilterTrack(this.value)">
                        
                    </p>
                </div>
                <div style="display: inline-block ; width: 100%;">
                    <div style="width: 10%; display: inline-block;">
                    <p><b> FILTER DOWN: </b>
                        <span style="float: right;" id='highpass'>10000 Hz </span>
                    </div>
                        &nbsp;&nbsp;
                        <input style="width: 70%;" type="range" min=0 max=10000 value=10000 oninput="lowFilterTrack(this.value)">
                        <!-- <span id='seekEnd'>-:-- </span> -->
                    </p>
                </div>
                <div style="display: inline-block ; width: 100%;">
                    <div style="width: 10%; display: inline-block;">
                    <p><b> GAIN: </b>
                        <span style="float: right;" id='gain'>1.0 dB</span>
                    </div>
                        &nbsp;&nbsp;
                        <input style="width: 70%;" id="trackGain" type="range" min=0 max=6 value=1 step=0.001 oninput="trackGain(this.value)">
                        <!-- <span id='seekEnd'>-:-- </span> -->
                    </p>
                </div>
                <div style="display: inline-block ; width: 100%;">
                    <div style="width: 10%; display: inline-block;">
                    <p><b> MIC GAIN: </b>
                        <span style="float: right;" id='micGain'>1.0 dB</span>
                    </div>
                        &nbsp;&nbsp;
                        <input style="width: 70%;" type="range" id="trackGainMic" min=0 max=6 value=1 step=0.001 oninput="trackGainMic(this.value)">
                        <!-- <span id='seekEnd'>-:-- </span> -->
                    </p>
                </div>
                display5
            </div>
            <!-- <div class="row">
                <div style="display: inline-block;"><h3>CHORD: <p id="detectedNote" style="font-size: 100px;"></p></h3></div>
                
            </div>
            <div class="row"><p id="detectedScale" style="font-size: 40px; display: none;"></h3></div>
            <div class="row"><h3><p id="temp2" style="font-size: 40px;"></p></h3></div> -->

    </div>
<div>
    <div style="display: inline-block ; width: 100%;">
        <div style="width: 5%; display: inline-block;">
            <p><b>Limit-1: </b>
                <span style="float: right;" id='threshold0'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="limit0" type="range" min=-95 max=-5 step=1 oninput="changeThreshold(0,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <b>Limit-2: </b>
                <span style="float: right;" id='threshold1'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="limit1" type="range" min=-95 max=-5 step=1 oninput="changeThreshold(1,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
        &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <b>Limit-3: </b>
                <span style="float: right;" id='threshold2'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="limit2" type="range" min=-95 max=-5 step=1 oninput="changeThreshold(2,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
                &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <b>Limit-4: </b>
                <span style="float: right;" id='threshold3'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="limit3" type="range" min=-95 max=-5 step=1 oninput="changeThreshold(3,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
                &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <b>Limit-5: </b>
                <span style="float: right;" id='threshold4'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="limit4" type="range" min=-95 max=-5 step=1 oninput="changeThreshold(4,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            </p>
    </div>



    <div style="display: inline-block ; width: 100%;">
        <div style="width: 5%; display: inline-block;">
            <p><b>Start-1: </b>
                <span style="float: right;" id='stripStart0'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="start0" type="range" step=1 oninput="changeStripRegion(0,0,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>Start-2: </b>
                <span style="float: right;" id='stripStart1'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="start1" type="range" step=1 oninput="changeStripRegion(1,0,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>Start-3: </b>
                <span style="float: right;" id='stripStart2'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="start2" type="range" step=1 oninput="changeStripRegion(2,0,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>Start-4: </b>
                <span style="float: right;" id='stripStart3'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="start3" type="range" step=1 oninput="changeStripRegion(3,0,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>Start-5: </b>
                <span style="float: right;" id='stripStart4'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="start4" type="range" step=1 oninput="changeStripRegion(4,0,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        </p>
    </div>


    <div style="display: inline-block ; width: 100%;">
        <div style="width: 5%; display: inline-block;">
            <p><b>End-1: </b>
                <span style="float: right;" id='stripEnd0'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="end0" type="range" step=1 oninput="changeStripRegion(0,1,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>End-2: </b>
                <span style="float: right;" id='stripEnd1'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="end1" type="range" step=1 oninput="changeStripRegion(1,1,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>End-3: </b>
                <span style="float: right;" id='stripEnd2'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="end2" type="range" step=1 oninput="changeStripRegion(2,1,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>End-4: </b>
                <span style="float: right;" id='stripEnd3'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="end3" type="range" step=1 oninput="changeStripRegion(3,1,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        <div style="width: 5%; display: inline-block;">
            <p><b>End-5: </b>
                <span style="float: right;" id='stripEnd4'> </span>
                </div>
                &nbsp;&nbsp;
                <input style="width: 13%;" id="end4" type="range" step=1 oninput="changeStripRegion(4,1,this.value)">
                <!-- <span id='seekEnd'>-:-- </span> -->
            &nbsp;&nbsp;
        </p>
    </div>
</div>
    
    <script src="../js/global.js"></script>
    <!-- <script src="../js/nn.js"></script> -->
    <script src="../js/helper.js"></script>
    <script src="../js/harmony.js"></script>
    <!-- <script src="../js/piano.js"></script> -->
    <script src="../js/recorder.js"></script>
    <script src="../js/input.js"></script>
    <script src="../js/graph.js"></script>
    <script src="../js/algorithm.js"></script>
    
    <div id='neural'></div>
    
</body>
</html>

<script>

// con
document.addEventListener('keydown',function(event){

    if(event.key==' '){
        
        if(INPUT_TYPE=='mic') {
            toggleMicMute(!MIC_MUTE)
            return;
        }
        // console.log('spacebar')
        
        toggleSongPlayer();
    }
if(event.key=='2'){
    toggleGraphDisplay(!DISPLAY_GRAPH)
    if(MIC.state=="stopped"){
        // NOTES_RECORDING = []
        MIC.open()
        console.log(MIC)
    }
    else{
        console.log(NOTES_RECORDING)
        MIC.close()
        playNotesRecorded()
        
    }
}

// if(event.key=='a') playNotesRecorded()

if(event.key=='`'){
    var temp = pianoALX.getValue()
    max=0
    min=0
    for(var x=0;x<temp.length;x++){
        if(temp[x]>temp[max]) max=x
        if(temp[x]<temp[min]) min=x
    }
    console.log('MAX:'+String(max)+':'+String(temp[max]))
    
}

if(event.key=='Enter')
    alert('Entered')


})

$(document).ready(function() {
    $('select').material_select();
});
</script>