<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chord Finder</title>
</head>
<body>
    <nav class="brown lighten-2">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">HOME</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                
            </ul>
        </div>
    </nav>
    Soon to come!
    <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>
</html>